.dashboardWrapper {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.welcomeCard {
  background: #fa928d;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 2rem;
}

.userName {
  color: var(--teal-600);
  font-weight: 600;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
